---
- hosts: all
  tasks:
    - name: Check if sudo password is correct
      become: true
      command: echo "Password is correct"
      changed_when: false
      tags: [always]

    - name: Update packages
      become: true
      pacman:
        upgrade: yes
        update_cache: yes

    - name: Install packages
      become: true
      pacman:
        name: vim,neovim,git,alacritty,tmux
        state: latest

    - name: Ensure SSH config directory exists
      file:
        path: ~/.ssh/config
        state: directory
        recurse: yes

    - name: Install default SSH config to avoid broken pipes
      copy:
          src: ./files/ssh/config
          dest: ~/.ssh/config

    - name: Check if yay is installed
      stat:
          path: /usr/bin/yay
      register: yay

    - name: Determine if we should install yay
      set_fact: should_install_yay={{ yay.stat.exists == False}}

    - name: Clone yay
      git:
          repo: https://aur.archlinux.org/yay.git
          dest: /tmp/yay
      when: should_install_yay

    - name: Install yay
      command: makepkg -si --noconfirm
      args:
          chdir: /tmp/yay
      when: should_install_yay

    - name: Remove yay build files
      file:
          state: absent
          path: /tmp/yay/
      when: should_install_yay

    - name: Download SF Mono font
      become: true
      get_url:
          url: https://github.com/ZulwiyozaPutra/SF-Mono-Font/raw/master/SFMono-Medium.otf
          dest: /usr/share/fonts/SFMono-Medium.otf
          mode: 0777

    - name: Regenerate font cache
      command: fc-cache
      changed_when: False

    - name: Ensure Alacritty config directory exists
      file:
        path: ~/.config/alacritty
        state: directory
        recurse: yes

    - name: Install Alacritty config
      copy:
          src: ./files/alacritty/alacritty.yml
          dest: ~/.config/alacritty/alacritty.yml
